.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3% auto;
  }
  
  .title {
    font-family: "Assistant";
    color: black;
    text-align: center;
    font-size: 2.2rem;
    margin: 2% auto;
    direction: rtl;
  }
  
  .description {
    font-family: "AssistantR";
    direction: rtl;
    color: black;
    font-size: 1.4rem;
    margin: 2% auto;
    text-align: center;
  }
  
  /* Under 350px */
  @media screen and (max-width: 349px) {
    .row {
      flex-direction: column;
      margin: 2% auto;
    }
    .title {
      font-size: 1.6rem;
      margin: 1.5% auto;
    }
    .description {
      font-size: 1rem;
      margin: 1.5% auto;
    }
  }
  
  /* 350px - 450px */
  @media screen and (min-width: 350px) and (max-width: 450px) {
    .row {
      flex-direction: column;
      margin: 2.2% auto;
    }
    .title {
      font-size: 1.7rem;
      margin: 1.6% auto;
    }
    .description {
      font-size: 1.1rem;
      width:90%;
      margin: 1.6% auto;
    }
  }
  
  /* 450px - 550px */
  @media screen and (min-width: 451px) and (max-width: 550px) {
    .row {
      margin: 2.4% auto;
    }
    .title {
      font-size: 1.8rem;
      margin: 1.7% auto;
    }
    .description {
      font-size: 1.2rem;
      margin: 1.7% auto;
    }
  }
  
  /* 550px - 650px */
  @media screen and (min-width: 551px) and (max-width: 650px) {
    .row {
      margin: 2.6% auto;
    }
    .title {
      font-size: 1.9rem;
      margin: 1.8% auto;
    }
    .description {
      font-size: 1.25rem;
      margin: 1.8% auto;
    }
  }
  
  /* 650px - 750px */
  @media screen and (min-width: 651px) and (max-width: 750px) {
    .row {
      margin: 2.8% auto;
    }
    .title {
      font-size: 2rem;
      margin: 1.9% auto;
    }
    .description {
      font-size: 1.3rem;
      margin: 1.9% auto;
    }
  }
  
  /* 750px - 850px */
  @media screen and (min-width: 751px) and (max-width: 850px) {
    .row {
      margin: 2.9% auto;
    }
    .title {
      font-size: 2.1rem;
      margin: 2% auto;
    }
    .description {
      font-size: 1.35rem;
      margin: 2% auto;
    }
  }
  
  /* 850px - 950px */
  @media screen and (min-width: 851px) and (max-width: 950px) {
    .row {
      margin: 3% auto;
    }
    .title {
      font-size: 2.15rem;
      margin: 2% auto;
    }
    .description {
      font-size: 1.37rem;
      margin: 2% auto;
    }
  }
  
  /* 950px - 1050px */
  @media screen and (min-width: 951px) and (max-width: 1050px) {
    .row {
      margin: 3% auto;
    }
    .title {
      font-size: 2.17rem;
      margin: 2% auto;
    }
    .description {
      font-size: 1.38rem;
      margin: 2% auto;
    }
  }
  
  /* 1050px - 1150px */
  @media screen and (min-width: 1051px) and (max-width: 1150px) {
    .row {
      margin: 3% auto;
    }
    .title {
      font-size: 2.18rem;
      margin: 2% auto;
    }
    .description {
      font-size: 1.39rem;
      margin: 2% auto;
    }
  }
  
  /* 1150px - 1250px */
  @media screen and (min-width: 1151px) and (max-width: 1250px) {
    .row {
      margin: 3% auto;
    }
    .title {
      font-size: 2.2rem;
      margin: 2% auto;
    }
    .description {
      font-size: 1.4rem;
      margin: 2% auto;
    }
  }