.title{
    font-family: "Assistant";
    font-size: 3rem;
    text-align: center;
    margin:2% auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    direction: rtl;

}
.description{

    font-family: "Assistant";
    font-size: 1.5rem;
    text-align: center;
    width:60%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    line-height: 2;
    margin:2% auto;
    direction: rtl;
}

.bold {
    background: linear-gradient(to right, #ee172d50, #a1080865);
    display: inline;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .bold::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(to right, #ee172d50, #a1080865);
    z-index: -1;
    border-radius: 0.5rem;
    filter: blur(5px);
    opacity: 0.5;
  }
  
.bold2 {
     background: linear-gradient(to right, #6908a17d, #9817ee81);
   justify-content: center;
width:20%;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .bold2::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
     background: linear-gradient(to right, #6908a17d, #9817ee81);
     margin: 0 auto;
    z-index: -1;
    border-radius: 0.5rem;
    filter: blur(5px);
    opacity: 0.5;
  }
  .center{
    width: 50%;
    justify-content: center;
    display: flex;
    margin:2% auto;
  }
  .image{
    object-fit: contain;
    width: 100%;;
  }
  @media only screen and (max-width: 350px) {

    .title{
      font-family: "Assistant";
      font-size: 1.7rem;
      text-align: center;
      margin:2% auto;
      direction: rtl;
  
  }
  .description{
  
      font-family: "Assistant";
      font-size: 0.9rem;
      text-align: center;
      width:85%;
      line-height: 2;
      margin:2% auto;
      direction: rtl;
  }
  
  .bold {
      background: linear-gradient(to right, #ee172d50, #a1080865);
      display: inline;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
  
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    
    .bold::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background: linear-gradient(to right, #ee172d50, #a1080865);
      z-index: -1;
      border-radius: 0.5rem;
      filter: blur(5px);
      opacity: 0.5;
    }
    
  .bold2 {
       background: linear-gradient(to right, #6908a17d, #9817ee81);
     justify-content: center;
  width:50%;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    
    .bold2::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
       background: linear-gradient(to right, #6908a17d, #9817ee81);
       margin: 0 auto;
      z-index: -1;
      border-radius: 0.5rem;
      filter: blur(5px);
      opacity: 0.5;
    }
    .center{
      width: 100%;
      justify-content: center;
      display: flex;
      margin:2% auto;
    }
    .image{
      object-fit: contain;
      width: 100%;;
    }
  }
  @media only screen  and (min-width: 350px) and (max-width: 450px) {

    .title{
      font-family: "Assistant";
      font-size: 1.9rem;
      text-align: center;
      margin:2% auto;
      direction: rtl;
  
  }
  .description{
  
      font-family: "Assistant";
      font-size:1rem;
      text-align: center;
      width:85%;
      line-height: 2;
      margin:2% auto;
      direction: rtl;
  }
  
  .bold {
      background: linear-gradient(to right, #ee172d50, #a1080865);
      display: inline;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
  
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    
    .bold::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background: linear-gradient(to right, #ee172d50, #a1080865);
      z-index: -1;
      border-radius: 0.5rem;
      filter: blur(5px);
      opacity: 0.5;
    }
    
  .bold2 {
       background: linear-gradient(to right, #6908a17d, #9817ee81);
     justify-content: center;
  width:50%;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    
    .bold2::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
       background: linear-gradient(to right, #6908a17d, #9817ee81);
       margin: 0 auto;
      z-index: -1;
      border-radius: 0.5rem;
      filter: blur(5px);
      opacity: 0.5;
    }
    .center{
      width:95%;
      justify-content: center;
      display: flex;
      margin:2% auto;
    }
    .image{
      object-fit: contain;
      width: 100%;;
    }


  }
